<div class="home-container">
  <h1>Benvenuto in Bank Manager</h1>
  <p class="text-muted">Gestisci i tuoi conti e movimenti in modo semplice e sicuro.</p>

  <div class="grid-2">
    <!-- Card Gestione Conti -->
    <a class="card" routerLink="/lista-conti-bancari">
      <div class="flex-row">
        <div style="font-size: 2rem;">🏦</div>
        <div>
          <h3>Conti Bancari</h3>
          <p>Visualizza saldi, dettagli IBAN e gestisci i tuoi conti correnti.</p>
        </div>
      </div>
    </a>

    <!-- Card Gestione Movimenti -->
    <a class="card" routerLink="/lista-movimenti">
      <div class="flex-row">
        <div style="font-size: 2rem;">📑</div>
        <div>
          <h3>Movimenti</h3>
          <p>Consulta lo storico delle transazioni, entrate e uscite.</p>
        </div>
      </div>
    </a>

    <!-- Card Nuovo Conto -->
    <a class="card" routerLink="/form-conto-bancario">
      <div class="flex-row">
        <div style="font-size: 2rem;">✍️</div>
        <div>
          <h3>Apri Nuovo Conto</h3>
          <p>Aggiungi un nuovo conto bancario al tuo portafoglio.</p>
        </div>
      </div>
    </a>

    <!-- Card Nuovo Movimento -->
    <a class="card" routerLink="/form-movimento">
      <div class="flex-row">
        <div style="font-size: 2rem;">➕</div>
        <div>
          <h3>Registra Movimento</h3>
          <p>Inserisci manualmente un bonifico, un pagamento o un incasso.</p>
        </div>
      </div>
    </a>

        <a class="card" routerLink="/conti-contabili">
      <div class="flex-row">
        <div style="font-size: 2rem;">📑</div>
        <div>
          <h3>Conti Contabili</h3>
        </div>
      </div>
    </a>

  </div>
</div>
