
<div class="home-container">
  <h1>Navigazione</h1>
  <div class="cards-grid">
    <a class="card" routerLink="/lista-conti-bancari">
      <div class="card-icon">🏦</div>
      <h3>Lista Conti Bancari</h3>
      <p>Visualizza tutti i conti bancari.</p>
    </a>

    <a class="card" routerLink="/lista-movimenti">
      <div class="card-icon">📑</div>
      <h3>Lista Movimenti</h3>
      <p>Consulta i movimenti bancari.</p>
    </a>

    <a class="card" routerLink="/form-conto-bancario">
      <div class="card-icon">✍️</div>
      <h3>Nuovo Conto</h3>
      <p>Crea o modifica un conto bancario.</p>
    </a>

    <a class="card" routerLink="/form-movimento">
      <div class="card-icon">➕</div>
      <h3>Nuovo Movimento</h3>
      <p>Aggiungi un movimento bancario.</p>
    </a>
  </div>
s